body {
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	padding: 10px;
	margin: 10px;
}

nav {
	position: absolute;
	top: 5px;
  	right: 5px;
}

.centered {
	display: flex; /* make the input field a block-level element */
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.logo {
	margin-bottom: 0;
}

.rounded-search-input {
	border-radius: 15px;
	display: block;
	margin: 7px;
	padding: 7px;
}

.images-header {
	display: flex;
	justify-content: right;
	align-items: flex-end;
	margin-left: 132px;
}

.images-header h2 {
	margin-left: 10px;
	color: blue;
}

#advanced-heading {
	font-size: 2px;
	font-weight: bolder;
	/*position: absolute;*/
	top: 2px;
	left: 2px;
}

#advanced-subheader {
	margin-top: 50px;
	margin-left: 25px;

}

.search-buttons {
	display: flex;
	justify-content: right;
	align-items: flex-end;
}




