body
  background-color: #fff
  color: #000
  font-family: sans-serif
  margin: 10px

nav
  position: absolute
  top: 5px
  right: 5px

// centered sections of index.html and image.html
.centered
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

.logo
  margin-bottom: 0

input.rounded-search
  border-radius: 15px
  display: block
  margin: 2px
  padding: 7px

#searchbar
  width: 400px

div.search-buttons
  display: flex
  justify-content: right
  align-items: flex-end

// selectors unique to index.html
h2.home
  margin-top: 0

// selectors unique to image.html
div.image-search
  display: flex
  justify-content: right
  align-items: flex-end
  margin-left: 132px

h2.image-search
  margin-left: 10px
  color: blue

// selectors unique to advanced.html
h1.advanced-search
  position: absolute
  top: 5px
  left: 10px
  font-size: 5px
  font-weight: bolder

h2.advanced-search
  font-family: Arial, sans-serif
  font-size: 22px
  color: blue
  margin-top: 90px
  margin-bottom: 20px

hr
  margin-top: 30px
  margin-bottom: 35px
  color: lightgrey
  font-size: 3px

input.advanced-searchbar
  border-radius: 5px
  display: block
  margin: 7px
  padding: 7px
  width: 600px

input.advanced-search-button
  font-size: 18px
  border-style: none
  float: right
  margin: 10px 3px
  padding: 7px 15px
  background: #4D90FE
  color: white

